* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(170, 170, 170);
}

.container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  margin-top: 40px;
}

.input-area {
  text-align: right;
  font-size: 20px;
  font-weight: 500;
  background-color: #a2ddff;
  width: 340px;
  height: 120px;
  border-radius: 5px;
}

.row li {
  list-style: none;
  float: left;
  display: block;
}

.fix-size {
  display: block;
  content: "";
  clear: both;
}

.btn {
  font-size: 20px;
  font-weight: 700;
}

.square {
  border: 1ps solid green;
  width: 60px;
  height: 60px;
  background-color: green;
}

.round {
  border-radius: 10px;
  background-color: red;
  width: 60px;
  height: 60px;
}

.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.square,
.round,
.circle {
  margin: 4px;
}

.dec .btn {
  background-color: #797979;
}

.addition .btn {
  background-color: #38b4fc;
}

.subtraction .btn {
  background-color: #ff961d;
}

.division .btn {
  background-color: #0331ff;
}

.mulplication .btn {
  background-color: #0a7400;
}

.remainder .btn {
  background-color: #44009c;
}

.equal .btn {
  background-color: yellow;
}

.zero .btn,
.equal .btn {
  width: 128px;
  height: 60px;
  border-radius: 10px;
  margin: 4px;
}
